@model Vidly.ViewModels.MoviesViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*
    movie title
*@
@{
    var popularClassName = Model.CustomerList.Count < 5 ? "popular" : null;

}

<h2 class="@popularClassName">@Model.Movie.Name</h2>

@if (@Model.CustomerList.Count == 0)
{
    <p>No Customers for moview</p>
}
else
{
    <ul>

        @foreach (var customer in @Model.CustomerList)
        {
            <li>@customer.Name</li>
        }
    </ul>
}

@*<h2>@(((Vidly.Models.Movie)ViewData["Movie"]).Name)</h2>*@

